{% extends "base.html" %}

{% block title %}Coat Color - Cat Production{% endblock %}

{% block content %}

	<model-viewer id="catbody" src="{{ url_for('static', filename='cat_body.glb') }}" camera-controls auto-rotate ar
		shadow-intensity="1">
		<div class="controls">
			<div>
				<p>Coat Color</p>
				<select id="coat">
					{% for coatcolor in coatcolors %}
					<option value='{"texture": "static/{{ coatcolor[1] }}", "model": "{{ coatcolor[2] }}"}'>{{ coatcolor[0] }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</model-viewer>

	<script type="module">
		const modelViewerTexture = document.querySelector("model-viewer#catbody");

		modelViewerTexture.addEventListener("load", (ev) => {

			let material = modelViewerTexture.model.materials[0];
			localStorage.setItem('model', 'cat_Swhite.glb');
			let applyPBRTexture = (channel, event) => {
				material.pbrMetallicRoughness[channel].texture.source.setURI(event.target.value);
				let value = JSON.parse(event.target.value);
				material.pbrMetallicRoughness[channel].texture.source.setURI(value.texture);
				localStorage.setItem('model', value.model)
			}
			document.querySelector('#coat').addEventListener('input', (event) => {
				applyPBRTexture('baseColorTexture', event);
			});
		})
	</script>
	
	<div id="button">
	<p>
		<a href="{{ url_for('index') }}">Back</a>
		<a href="{{ url_for('eyecolor') }}">Next</a>
	</p>
	</div>

{% endblock %}