{% extends "base.html" %}

{% block title %}Cat Production{% endblock %}

{% block content %}
<div id="header">
	<h1>CAT PRODUCTION</h1>
	<em>Create your self a cute cat</em>
</div>
<div id="cards">
	<div class="card_container">
		<div class="front" style="background-image: url('/static/solid_texture.png');"></div>
		<div class="back">
			<a href="{{ url_for('coatcolor') }}">
			<img src="{{ url_for('static', filename='cat_rendered_solid.png') }}" id="rendered" />
			<h2>Solid</h2>
			</a>
		</div>
	</div>
	<div class="card_container">
		<div class="front" style="background-image: url('/static/bicolor_texture.png');"></div>
		<div class="back">
			<a href="{{ url_for('coatcolor') }}">
			<img src="{{ url_for('static', filename='cat_rendered_bicolor.png') }}" id="rendered" />
			<h2>Bicolor</h2>
			</a>
		</div>
	</div>
	<div class="card_container">
		<div class="front" style="background-image: url('/static/tabby_texture.png');"></div>
		<div class="back">
			<a href="{{ url_for('coatcolor') }}">
			<img src="{{ url_for('static', filename='cat_rendered_tabby.png') }}" id="rendered" />
			<h2>Tabby</h2>
			</a>
		</div>
	</div>
</div>

{% endblock %}